name: Deploy CMS to Server

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install Python 3 dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y python3-pip python3-dev postgresql postgresql-contrib libpq-dev

      - name: Use Python 3
        run: |
          wget https://github.com/cms-dev/cms/releases/download/v1.2.0/v1.2.0.tar.gz
          tar -xf v1.2.0.tar.gz
          cd cms
          python3 setup.py build

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to server
        uses: appleboy/ssh-action@master
        with:
          host: 5.129.250.92
          username: root
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            sudo apt-get update
            sudo apt-get install -y python3-pip python3-dev postgresql postgresql-contrib libpq-dev
            wget https://github.com/cms-dev/cms/releases/download/v1.2.0/v1.2.0.tar.gz
            tar -xf v1.2.0.tar.gz
            cd cms
            sudo ./setup.py install
            sudo su - postgres -c "createuser your_username -P"
            createdb -O your_username your_database
            psql your_database -c 'ALTER SCHEMA public OWNER TO your_username'
            psql your_database -c 'GRANT SELECT ON pg_largeobject TO your_username'
            cmsInitDB
            cmsAdminWebServer 0
            cmsLogService 0
            cmsRankingWebServer
