name: CMS Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH environment
        uses: appleboy/ssh-action@master
        with:
          host: 5.129.250.92
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install dependencies on server
        uses: appleboy/ssh-action@master
        with:
          host: 5.129.250.92
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
         
          script: |
            sudo apt-get update -y
            sudo apt-get install -y python3-pip python3-dev postgresql postgresql-contrib libpq-dev

      - name: Prepare server environment
        uses: appleboy/ssh-action@master
        with:
          host: 5.129.250.92
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
         
          script: |
            mkdir -p /var/www/cms
            chmod 755 /var/www/cms

      - name: Deploy code to server
        uses: appleboy/scp-action@v1
        with:
          host: 5.129.250.92
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: "."
          target: "/var/www/cms"

      - name: Install CMS on server
        uses: appleboy/ssh-action@master
        with:
          host: 5.129.250.92
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          
          script: |
            cd /var/www/cms
            pip3 install -r requirements.txt
            python3 setup.py install

      - name: Configure PostgreSQL
        uses: appleboy/ssh-action@master
        with:
          host: 5.129.250.92
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          
          script: |
            sudo -u postgres psql -c "CREATE USER cms_user WITH PASSWORD 'secure_password';"
            createdb -O cms_user cms_db
            psql cms_db -c 'ALTER SCHEMA public OWNER TO cms_user'
            psql cms_db -c 'GRANT SELECT ON pg_largeobject TO cms_user'

      - name: Initialize CMS
        uses: appleboy/ssh-action@master
        with:
          host: 5.129.250.92
          username: root
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          
          script: |
            cd /var/www/cms
            cmsInitDB
            cmsAdminWebServer 0
            cmsLogService 0
            cmsRankingWebServer

      - name: Verify deployment
        run: |
          curl http://5.129.250.92:8889
          curl http://5.129.250.92:8890
